<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <label for ="cheeseNameID">Name</label>
    <div>
        <input type="text" name="cheeseName" id="cheeseNameID" required="required"/>
    </div>
    <label for="cheeseDescriptionID">Description</label>
    <div>
        <textarea name="cheeseDescription" id="cheeseDescriptionID"></textarea>
    </div>
    <input type="submit" value="Add Cheese" />
</form>
</body>
</html>