<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<h3 th:replace="fragments :: checklist"></h3>


<!--<h2 th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</h2>-->
<table class="table table-striped table-bordered table-hover">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
    </tr>

    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.name}"></td>
        <td th:text="${cheese.description}"></td>
        <td><a th:href="@{'/cheese/edit/' + ${cheese.cheeseId}}">Edit</a></td>

        <!--<td th:text="${cheese.type.name}"></td>-->
    </tr>

</table>


</body>
</html>