<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: head"></head>

</head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<h3 th:replace="fragments :: checklist"></h3>

<form method="post">
    <div th:each="cheese : ${cheeses}" class="checkbox">
        <input type="checkbox" name="cheeseIds" th:value="${cheese.cheeseId}" th:id="${cheese.cheeseId}"/>
        <label th:for="${cheese.cheeseId}" th:text="${cheese.name}"></label>
        <br />

    </div>
        <span th:text="*{errors}" class="error text-danger"></span>
    <br />


    <!--<span th:errors="*{errors}" class="error text-danger"></span>-->
    <!--<h2 th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</h2>-->
    <!--<div th:if="${cheeses.size()}">-->

    <!--<h3 th:unless="${!cheeses.isEmpty()}" class="text-warning">No Entries</h3>-->

    <div th:if="${!cheeses.isEmpty()}">
        <input type="submit" value="Remove Cheese"/>
    </div>
</form>

</body>
</html>